In [1]:
import pandas as pd
import itertools

In [2]:
df_dom = pd.read_csv('malicious_phish.csv')

In [3]:
df_dom.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [4]:

#df_dom = df_dom.drop(['blank1','blank2'],axis=1)
#df_dom.head()

In [5]:
df_dom['type'].value_counts()

type
benign        428103
defacement     96457
phishing       94111
malware        32520
Name: count, dtype: int64

In [6]:
to_retain = ['phishing','malware']
df_dom = df_dom[df_dom.type.isin(to_retain)]

In [7]:
df_dom.head()

                                                  url      type
0                                    br-icloud.com.br  phishing
21         signin.eby.de.zukruygxctzmmqi.civpro.co.za  phishing
28  http://www.marketingbyinternet.com/mo/e56508df...  phishing
38  http://www.824555.com/app/member/SportOption.p...   malware
40  https://docs.google.com/spreadsheet/viewform?f...  phishing

In [8]:
df_dom['type'].value_counts()

type
phishing    94111
malware     32520
Name: count, dtype: int64

In [9]:
df_dom = df_dom[['url','type']]
df_dom.head()

                                                  url      type
0                                    br-icloud.com.br  phishing
21         signin.eby.de.zukruygxctzmmqi.civpro.co.za  phishing
28  http://www.marketingbyinternet.com/mo/e56508df...  phishing
38  http://www.824555.com/app/member/SportOption.p...   malware
40  https://docs.google.com/spreadsheet/viewform?f...  phishing

In [10]:
colnames = ['url']
df_real = pd.read_csv('malicious_phish.csv',names=colnames, header=None)

In [11]:
df_real.head()

                                                           url
url                                                       type
br-icloud.com.br                                      phishing
mp3raid.com/music/krizz_kaliko.html                     benign
bopsecrets.org/rexroth/cr/1.htm                         benign
http://www.garage-pirenne.be/index.php?option=c...  defacement

In [12]:
df_real['type'] = 'benign'
df_real.head()

                                                           url    type
url                                                       type  benign
br-icloud.com.br                                      phishing  benign
mp3raid.com/music/krizz_kaliko.html                     benign  benign
bopsecrets.org/rexroth/cr/1.htm                         benign  benign
http://www.garage-pirenne.be/index.php?option=c...  defacement  benign

In [13]:
df_data =pd.read_csv('malicious_phish.csv')
df_data.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [14]:
#df_data_filtered = df_data[df_data['label'] == 'good']

In [15]:
df_data.shape

(651191, 2)

In [16]:
df_data.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [17]:
df_data.columns = ['url', 'type']

In [18]:
df_data.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [19]:
df_data=df_data.replace(to_replace ="good", 
                 value ="benign")

In [20]:
df_data.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [21]:
df_good = pd.concat([df_data,df_real], ignore_index=True)
df_good.shape

(1302383, 2)

In [22]:
df_good.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [23]:
df1 = pd.concat([df_good,df_dom],ignore_index=True)
df1.shape

(1429014, 2)

In [24]:
df1.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [25]:
colnames = ['url']

df_deface =pd.read_csv('malicious_phish.csv',names=colnames, header=None)
df_deface.head()

                                                           url
url                                                       type
br-icloud.com.br                                      phishing
mp3raid.com/music/krizz_kaliko.html                     benign
bopsecrets.org/rexroth/cr/1.htm                         benign
http://www.garage-pirenne.be/index.php?option=c...  defacement

In [26]:
df_deface['type'] = 'defacement'
df_deface.head()

                                                           url        type
url                                                       type  defacement
br-icloud.com.br                                      phishing  defacement
mp3raid.com/music/krizz_kaliko.html                     benign  defacement
bopsecrets.org/rexroth/cr/1.htm                         benign  defacement
http://www.garage-pirenne.be/index.php?option=c...  defacement  defacement

In [27]:
df2 = pd.concat([df1,df_deface],ignore_index=True)
df2.shape

(2080206, 2)

In [28]:
df2.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [29]:
colnames = ['url']

df_phishing =pd.read_csv('malicious_phish.csv',names=colnames, header=None)
df_phishing.head()

                                                           url
url                                                       type
br-icloud.com.br                                      phishing
mp3raid.com/music/krizz_kaliko.html                     benign
bopsecrets.org/rexroth/cr/1.htm                         benign
http://www.garage-pirenne.be/index.php?option=c...  defacement

In [30]:
df_phishing['type'] = 'phishing'
df3 = pd.concat([df2,df_phishing],ignore_index=True)
df3.shape

(2731398, 2)

In [31]:
df_mal = pd.read_csv('malicious_phish.csv', header=None,names=colnames)
df_mal['type'] = 'malware'
df4 = pd.concat([df3,df_mal],ignore_index=True)
df4.shape

(3382590, 2)

In [32]:
df4['type'].value_counts()

type
benign        1079295
phishing       839414
defacement     747649
malware        716232
Name: count, dtype: int64

In [33]:
df=pd.read_csv('malicious_phish.csv')
df.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [34]:
df.shape

(651191, 2)

In [35]:
df_phishing = pd.read_csv('malicious_phish.csv')
df_phishing.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [36]:
df_phishing = df_phishing[['url']]

In [37]:
df_phishing['type']='phishing'
df_phishing.head()

                                                 url      type
0                                   br-icloud.com.br  phishing
1                mp3raid.com/music/krizz_kaliko.html  phishing
2                    bopsecrets.org/rexroth/cr/1.htm  phishing
3  http://www.garage-pirenne.be/index.php?option=...  phishing
4  http://adventure-nicaragua.net/index.php?optio...  phishing

In [38]:
df_phishing.shape

(651191, 2)

In [39]:
df5 = pd.concat([df,df_phishing],ignore_index=True)
df5.shape

(1302382, 2)

In [40]:
#df6 = pd.read_csv('malicious_phish.txt',sep=',',error_bad_lines=False)

In [41]:
#df6.head()

In [42]:
#df6.shape

In [43]:
#df6 = df6[['url']]
#df6['type']='malware'

In [44]:
#df6.head()

In [45]:
df_final = pd.concat([df5],ignore_index=True)
df_final.shape

(1302382, 2)

In [46]:
df_final.to_csv('malicious_final.csv',index=False)

In [47]:
import pandas as pd
import os

file_path = r'C:\Users\HP\Downloads\malicious_final.csv'

# Check if the file exists
if os.path.exists(file_path):
    try:
        # Read the CSV file
        df7 = pd.read_csv(file_path, sep=',', encoding="ISO-8859-1")
        df7_shape = df7.shape
        print(df7_shape)
    except pd.errors.EmptyDataError:
        print(f"The file '{file_path}' is empty.")
    except pd.errors.ParserError as e:
        print(f"Error parsing CSV: {e}")
else:
    print(f"File not found: '{file_path}'")

(1302382, 2)

In [48]:
df7.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [50]:
# Print the column names in df7
print(df7.columns)

# Print basic information about the DataFrame
print(df7.info())

# Check the first few rows of the DataFrame
print(df7.head())

Index(['url', 'type'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1302382 entries, 0 to 1302381
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   url     1302382 non-null  object
 1   type    1302382 non-null  object
dtypes: object(2)
memory usage: 19.9+ MB
None
                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [51]:
df7.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [53]:
# Print the column names in df7
print(df7.columns)

# Check if 'label' is in the DataFrame columns
if 'label' in df7.columns:
    df7["label"] = df7['label'].apply(lambda x: 'benign' if x == 1.0 else 'phishing')
    df7.head()
else:
    print("The 'label' column is not present in the DataFrame.")

Index(['url', 'type'], dtype='object')
The 'label' column is not present in the DataFrame.

In [54]:
df7.columns=['url','type']
df7.head()

                                                 url        type
0                                   br-icloud.com.br    phishing
1                mp3raid.com/music/krizz_kaliko.html      benign
2                    bopsecrets.org/rexroth/cr/1.htm      benign
3  http://www.garage-pirenne.be/index.php?option=...  defacement
4  http://adventure-nicaragua.net/index.php?optio...  defacement

In [55]:
df_final = pd.concat([df_final,df7],ignore_index=True)
df_final.shape

(2604764, 2)

In [56]:
df_final.to_csv('malicious_final.csv',index=False)